{layout '../Parts/layout.latte'}

{block title}
  producer edit
{/block}

{block content}
    {if $producer}
        <div class="col-10 offset-1">
        {control editForm}
        </div>
    {else}
        Produkt neexistuje {*TODO pridat hlasku*}
    {/if}
{/block}

